* {
    font-family: 'Roboto', sans-serif;
}

.input-field input:focus + label {
    color: #5e72e4 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #5e72e4 !important;
    box-shadow: 0 1px 0 0 #5e72e4 !important;
}

.input-field input.valid {
    border-bottom: 1px solid #5e72e4 !important;
    box-shadow: 0 1px 0 0 #5e72e4 !important;
}

.input-field input.invalid {
    border-bottom: 1px solid #5e72e4 !important;
    box-shadow: 0 1px 0 0 #5e72e4 !important;
}

.input-field .prefix.active {
    color: #5e72e4 !important;
}

/* Select Color */
.dropdown-content li>a, .dropdown-content li>span {
    color: #5e72e4 !important;
}

/* Date Picker */
.datepicker-date-display {
    background-color: #5e72e4;
}

.datepicker-calendar-container {
    color: black;
}
.is-today {
    color: #5e72e4 !important;

}
.datepicker-table td.is-selected {
    background: #5e72e4 !important;
}
.datepicker-cancel, .datepicker-done {
    color: #5e72e4;
}